.header {
	background: linear-gradient(180deg, #000000 0%, #1B2115 100%);
	position: fixed;
	width: 100%;
	z-index: 42; 
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		transition: opacity 0.3s ease-in-out;
		&:hover{
			transition: opacity 0.3s ease-in-out;
			opacity: 0.7;
		}
	}

	&__menu {
	}
}
.logo {
	padding: 10px 0;
	&__link {
	}

	&__img {
	}
}

