
/*---Базовые стили---*/
html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	line-height: 1;
	letter-spacing: normal;
	text-align: left;
	color: #fff;
	background: #000;
	a {
		cursor: pointer;
	}
}
img {
	max-width: 100%; /* Чтобы картики не уходила за пределы родителя */
}
// скрываем крестик у поиска
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}
.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: calc(1164px + 30px);
	margin: 0 auto;
	padding: 0 15px;
	@media (max-width: 1024px) {
		max-width: none;
	}
}

.red-text{
	color: #6B0505;
}
